[AdaptiveTransparency]
enabled=true

[Desktop Entry]
Name=Evernight Aero
X-KDE-PluginInfo-Author=Evernight Vista Team
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=evernightaero
X-KDE-PluginInfo-Version=43.0.0
X-Plasma-API=5.0
